// We use these to define default font stacks
$font-family: 'Roboto', sans-serif !default;

// We use these to define default font styles
$font-style-normal: normal !default;

// We use these to define default font weights
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-x-bold: 900 !default;
